<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="~/Content/Css/global.css">
    <link rel="stylesheet" href="~/Content/Css/animations.css">
    <link rel="stylesheet" href="~/Content/Css/style.css">
    <link rel="stylesheet" href="~/Content/Css/layout.css">
    <link rel="stylesheet" href="~/Content/Css/constant.css">
    <!-- Font Awesome 6 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <!-- Boostrap 5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    @RenderSection("styles", required: false)

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm p-3 mb-2 bg-body rounded">
        <div class="container-fluid text-uppercase">
            <a href="#" class="navbar-brand">administrator</a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
                <div class="navbar-nav">
                    <a href="#" class="nav-item nav-link active">Trang chủ</a>
                    <div class="nav-item dropdown">
                        <div class="nav-link dropdown-toggle" data-bs-toggle="dropdown">đơn hàng</div>
                        <ul class="dropdown-menu">
                            <li><a href="#" class="dropdown-item">đơn hàng đang đặt</a></li>
                            <li><a href="#" class="dropdown-item">đơn nhập kho</a></li>
                            <li><a href="#" class="dropdown-item">đơn xuất kho</a></li>
                        </ul>
                    </div>
                    <a href="#" class="px-2 nav-item nav-link">sản phẩm</a>
                    <a href="#" class="nav-item nav-link">danh mục</a>
                    <a href="#" class="nav-item nav-link">khách hàng</a>
                    <a href="#" class="nav-item nav-link">nhà cung cấp</a>
                    <a href="#" class="nav-item nav-link">cửa hàng</a>
                    <a href="#" class="nav-item nav-link"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>
    <!-- Javascript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="~/Content/Js/index.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>