section{
    padding: 1rem;
}

.basic-info ul li {
    display: flex;
    flex-direction: column;
}
.basic-info li input {
    border: 0.5px solid rgb(128, 128, 128);
    background-color: white;
    padding: 0.5rem;
    border-radius: 6px;
}
