
@{
    ViewBag.Title = "NotLoggedIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center><h1>You are not an admin. Login to proceed</h1></center>
<script>
    setTimeout("location.href = history.back();", 2000);
</script>

